<html>

    <head>

        <title>Lucas DAVID's website</title>

        <meta charset="utf-8">


    </head>
    <body>

        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="index.html"><img src="https://lucasdavid85.github.io/img/IMG_9871.JPG" width="100px" alt="photo_lucas" class="image_navbar" style="object-fit:cover;border-radius:50%;" ></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="margin-left: 3vw;margin-top: 3vw;margin-bottom: 3vw;margin-right: 3vw;">
                <div class="navbar-nav">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
          
                        <a href="{% url 'home' %}" class="nav-link">Home</a>
                        <span class="sr-only"></span>
                    </li>
          
          
                    <li class="nav-item active">
          
                        <a href="{% url 'presentation' %}" class="nav-link">Présentation</a>
                        <span class="sr-only"></span>
                    </li>
          
          
                    <li class="nav-item active">
          
                        <a href="{% url 'formation' %}" class="nav-link">Formation</a>
                        <span class="sr-only"></span>
                    </li>
          
                    <li class="nav-item active">
          
                      <a href="{% url 'postes_benevolat' %}" class="nav-link">Poste et benevolat</a>
                      <span class="sr-only"></span>
                  </li>
          
                  <li class="nav-item active">
          
                    <a href="{% url 'contact' %}" class="nav-link">Contact</a>
                    <span class="sr-only"></span>
                </li>
          
                  </ul>
                </div>
            </div>
        </nav>
        <center>
        <video src="https://lucasdavid85.github.io/img/0001-0750.mp4" data-canonical-src="https://lucasdavid85.github.io/img/0001-0750.mp4" controls="controls" muted="muted" class="d-block rounded-bottom-2 width-fit" style="max-height:30%;">
        </center>
        </video>
        <h1>Hello world</h1>


    </body>
</html>